# Database
DATABASE_URL=postgres://abumuhsinah:abumuhsinah@localhost:5432/bumpa?sslmode=disable

# HTTP Server
HTTP_PORT=8081

# Paystack Webhook
PAYSTACK_WEBHOOK_SECRET=

# Cashback
CASHBACK_AMOUNT_KOBO=30000

# Paystack
PAYSTACK_SECRET_KEY=sk_test_your_secret_key_here
PAYSTACK_PUBLIC_KEY=pk_test_your_public_key_here
PAYSTACK_BASE_URL=https://api.paystack.co
